<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConcertLoginService" />
                <binding name="BasicHttpBinding_ShowsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8286/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConcertLoginService" contract="ConcertServiceReference1.IConcertLoginService" name="BasicHttpBinding_IConcertLoginService" />
            <endpoint address="http://localhost:28336/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ShowsService" contract="ConcertTrackerServiceReference1.ShowsService" name="BasicHttpBinding_ShowsService" />
        </client>
    </system.serviceModel>
</configuration>
